<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <!--  <system.web>
        <httpRuntime maxRequestLength="2147483647" executionTimeout="12000000"  />
    </system.web>-->
    
    
    
    <appSettings>
     <add key="SqlCommandTimeOut" value="240"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="20000"/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
    

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
     <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
   </security>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
